body {
    background-image: url("Concrete.jpg") ;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: visible;
}




/*Boksene som holder kortene på forsiden med konserter*/
.column {
  float: left;
  width: 20%;
  padding: 1em 2em 3em 2em;
  overflow: visible;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 3em 1em; overflow: visible;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: visible;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  height: 11.5vw;
  height: 10em;
  text-align: center;
  background-color: #f1f1f1;
  background: linear-gradient(black 50%, white 50%);
  overflow: hidden;
}
/*For bildet i hvert kort*/
.card img{
  height:50%;
  width:100%;
  object-fit: fill;
}
/*Tittelen/artisten på hvert kort*/
.card h3{
  margin-top: 0;
  font-size: 1.4vw;
  font-size: 1.2em;
  margin-bottom: 0;
  font-family: "Times New Roman", Times, serif;
}
/*Teksten på kortet, som sjanger og tid/sted*/
.card p{
  font-size: small;
  margin-top: 0;
}




/*Navigasjonsbaren på toppen av siden*/
.nav-bar {
    width: 100% !important; /* Full-width */
    background-color: white; /* White background */
    padding-bottom: 1%;
    z-index: -1;
    height: 3.5vw;
    /*height: 3em;*/
    overflow: visible; /* Overflow due to float */
  }
  /*Logo i høyre hjørne*/
  .logo-img {
    position: absolute;
    width: 4em;
    width: 5vw; /*Dette gjør at den skalerer med skjermstørrelse*/
    left: 0.4em;
    left: 0.4vw;
    top: 0em;
    margin: 0em, 1em, 1em, 1em;
    display: inline-block;
    cursor: pointer;
  }

/*Overskriften*/
  .nav-bar h1 {
        color: black;
        font-size: 3em;
        font-size: 4vw; /*Dette gjør at den skalerer med skjermstørrelse*/
        text-align: center;
        margin-top: 0em;
        position: absolute;
        padding-bottom: 1em;
        left: 45%;
        right: 55%;
  }
      /*Login-lenken i nav-baren:*/
  .login {
        color: black;
        border: none;
        cursor: pointer;
        background-color: white;
        margin-top: 0em;
        padding-right: 0.4em;
        padding-bottom: 0;
        float: right;
        font-size: 1.3em;
        font-size: 1.6vw; /*Dette gjør at den skalerer med skjermstørrelse*/
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: right;
  } 
  .login:focus {    /*Dette gjør så knappen ikke får firkant rundt seg når trykket på*/
    outline: none;
  }

  .usr-link{
    color: black;
    border: none;
    background-color: white;
    text-decoration: none;
    padding-top: 0.2em;
    font-size: 1.5em;
    font-size: 1.8vw;
    float: left;
    padding-bottom: 0;
    text-align: left;
    padding-right: 0.6em;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    width: auto;
  }
  /*Dette gjør så knappen ikke får firkant rundt seg når trykket på*/
  .usr-link:focus {    
    outline: none;
  }
  .usr-options{
    position: relative;
    display: inline-block;
  }
  
  .usr-dropdown-menu{
    display: none;
    min-width: 3em;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    top: 100%;
    position: absolute;
    background: white;
    color: black;
  }
  .usr-dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; 
  }
  .usr-dropdown-menu a:hover{
    background-color: beige;
  }
  .urs-options{
    float:right;
    text-align: right;
    position: relative;
    display: block;
  }

  .show {display: block;}







  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 16px;
  text-align: left;
}
button.newusr {
  display: inline-block;
  float: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
span.psw {
  float: right;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  span.psw {
     display: block;
     float: none;
  }
  .span.newusr {
     display: block;
     float: none;
  }
}



.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.container-reg {
  padding: 16px;
  text-align: left;
}
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0;
}

.container-konsert {
  padding: 0;
  padding-top: 0;
  text-align: center;
}
.imgcontainer-info{
  text-align: center;
  margin: 0;
  position: relative;
  display: block;
  background-color: black;
  width: 100%;
  height: 16em;
  object-fit: scale-down;
}
.imgcontainer-info img{
  height: 100%;
  width: 100%;
}
.container-konsert p{
  text-align: center;
  font-size: small;
  margin-top: 0;
  padding-top: 0;
}

  /*dette er for menyen*/
  .container2 {
    position: absolute; 
    float: left;
    top: 0.5em;
    text-align: left;
    margin-top: 0.40em;
    margin-top: 0.4vw;
    margin-left: 5em;
    margin-left: 6vw;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 2.2em; 
    width: 2.5vw;
    height: 0.3em;
    height: 0.35vw;
    background-color: #333;
    margin: 0.4em 0;
    margin: 0.47vw 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .hamburg-dropdown{
    display: none;
    margin-right: 8%;
    width: 20em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    top: 100%;
    left: auto;
    right: -500%;
    position: absolute;
    background: white;
    color: black;
  }
  .hamburg-dropdown h2 {
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 3em;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .hamburg-dropdown a {
    color: black;
    padding: 0.5em 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .hamburg-dropdown a:hover{
    background-color: beige;
  }


