body {
    background-image: url("Concrete.jpg");
    background-color: gray;
    margin: 0;
}





.column {
  float: left;
  width: 20%;
  padding: 0 2em 6em 2em;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 6em 1em;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}








.nav-bar {
    width: 100% !important; /* Full-width */
    background-color: white; /* White background */
    padding-bottom: 0em;
    overflow: auto; /* Overflow due to float */
    vertical-align: text-bottom;
  }
  /*Logo i høyre hjørne*/
  .logo-img {
    position: absolute;
    width: 4em;
    left: 0.4em;
    top: 0em;
    margin: 0em, 1em, 1em, 1em;
    display: inline-block;

  }

/*Overskriften*/
  .nav-bar h1 {
        color: black;
        font-size: 3em;
        text-align: center;
        margin-top: 0em;
        /*display:inline-block;*/
        position: absolute;
        padding-bottom: 1em;
        left: 45%;
        right: 55%;
  }
      /*Login-lenken i nav-baren:*/
  .login {
        color: black;
        border: none;
        cursor: pointer;
        background-color: white;
        margin-top: 0em;
        padding-right: 0.4em;
        float: right;
        font-size: 1.5em;
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: right;
  } 
  .login:focus {    /*Dette gjør så knappen ikke får firkant rundt seg når trykket på*/
    outline: none;
  }



  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 16px;
  text-align: left;
}
button.newusr {
  display: inline-block;
  float: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
span.psw {
  float: right;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .span.newusr {
     display: block;
     float: none;
  }
}



.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.container-reg {
  padding: 16px;
  text-align: left;
}





  /*dette er for menyen*/
  .container2 {
    position: relative; 
    float: left;
    top: 0.5em;
    /*display: inline-block;*/
    text-align: left;
    margin-top: 0.40em;
    margin-left: 5em;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }